### Results of human evaluation

In [18]:
import pandas as pd

In [20]:
df = pd.read_csv('notebooks/questionaire3.csv', usecols=range(17,167))
df = df.drop([0,1])
df = df.apply(pd.to_numeric)
df.head()

,Q1#1_1,Q1#1_2,Q1#2_1,Q1#2_2,Q1#3_1,Q1#3_2,Q2#1_1,Q2#1_2,Q2#2_1,Q2#2_2,...,Q24#2_1,Q24#2_2,Q24#3_1,Q24#3_2,Q25#1_1,Q25#1_2,Q25#2_1,Q25#2_2,Q25#3_1,Q25#3_2
2,4.0,2.0,4.0,4.0,4.0,1.0,3.0,3.0,1.0,4.0,...,4.0,4.0,4.0,3.0,1.0,3.0,1.0,3.0,1.0,3.0
3,2.0,3.0,2.0,2.0,2.0,1.0,5.0,3.0,5.0,5.0,...,5.0,4.0,5.0,3.0,2.0,1.0,1.0,3.0,1.0,3.0
4,5.0,5.0,4.0,4.0,1.0,2.0,3.0,3.0,5.0,5.0,...,5.0,5.0,4.0,5.0,2.0,3.0,3.0,4.0,3.0,4.0
5,4.0,4.0,4.0,2.0,2.0,1.0,1.0,4.0,4.0,4.0,...,5.0,5.0,5.0,5.0,1.0,4.0,4.0,4.0,4.0,4.0
6,3.0,2.0,3.0,2.0,1.0,2.0,3.0,1.0,4.0,5.0,...,4.0,4.0,3.0,3.0,4.0,4.0,4.0,2.0,3.0,3.0

In [21]:
df.shape

(15, 150)

In [22]:
def selection(modelnumber, typenumber):
    columns = []
    for i in range(1,26):
        if i == 22: #skip question 22
            continue
        columns.append(f'Q{i}#{modelnumber}_{typenumber}')
    return columns

In [23]:
tgtrel = df[selection(1,1)]
tgtnat = df[selection(1,2)]

t5rel = df[selection(2,1)]
t5nat = df[selection(2,2)]

chenrel = df[selection(3,1)]
chennat = df[selection(3,2)]

In [24]:

def cronbach_alpha(df):
    # 1. Transform the df into a correlation matrix
    df_corr = df.corr()
    
    # 2.1 Calculate N
    # The number of variables equals the number of columns in the df
    N = df.shape[1]
    
    # 2.2 Calculate R
    # For this, we'll loop through the columns and append every
    # relevant correlation to an array calles "r_s". Then, we'll
    # calculate the mean of "r_s"
    rs = np.array([])
    for i, col in enumerate(df_corr.columns):
        sum_ = df_corr[col][i+1:].values
        rs = np.append(sum_, rs)
    mean_r = np.mean(rs)
    
   # 3. Use the formula to calculate Cronbach's Alpha 
    cronbach_alpha = (N * mean_r) / (1 + (N - 1) * mean_r)
    return cronbach_alpha

In [25]:
from scipy.stats import ttest_rel
import numpy as np

In [26]:
print('---------------NAT-means----------------------------------------')
print(f'T5 nat:\t\t mean = {t5nat.mean().mean():.2f}\t std = {t5nat.mean().std():.2f}\t alpha = {cronbach_alpha(t5nat):.2f}')
print(f'CHEN nat:\t mean = {chennat.mean().mean():.2f}\t std = {chennat.mean().std():.2f}\t alpha = {cronbach_alpha(chennat):.2f}')
print(f'TGT nat:\t mean = {tgtnat.mean().mean():.2f}\t std = {tgtnat.mean().std():.2f}\t alpha = {cronbach_alpha(tgtnat):.2f}')
print('----------------------------------------------------------------')
print('---------------REL-means----------------------------------------')
print(f'T5 rel:\t\t mean = {t5rel.mean().mean():.2f}\t std = {t5rel.mean().std():.2f}\t alpha = {cronbach_alpha(t5rel):.2f}')
print(f'CHEN rel:\t mean = {chenrel.mean().mean():.2f}\t std = {chenrel.mean().std():.2f}\t alpha = {cronbach_alpha(chenrel):.2f}')
print(f'TGT rel:\t mean = {tgtrel.mean().mean():.2f}\t std = {tgtrel.mean().std():.2f}\t alpha = {cronbach_alpha(tgtrel):.2f}')
print('----------------------------------------------------------------')

t5tgtn = ttest_rel(t5nat.mean(), tgtnat.mean())
tgtchenn = ttest_rel(tgtnat.mean(), chennat.mean())
t5chenn = ttest_rel(t5nat.mean(), chennat.mean())
print('---------------NAT-t-test---------------------------------------')
print(f'T5 vs. CHEN:\t t = {t5chenn.statistic:.2f}\t p = {t5chenn.pvalue:.3f}')
print(f'T5 vs. TGT:\t t = {t5tgtn.statistic:.2f}\t p = {t5tgtn.pvalue:.3f}')
print(f'TGT vs. CHEN:\t t = {tgtchenn.statistic:.2f}\t p = {tgtchenn.pvalue:.3f}')
print('----------------------------------------------------------------')

t5tgtr = ttest_rel(t5rel.mean(), tgtrel.mean())
tgtchenr = ttest_rel(tgtrel.mean(), chenrel.mean())
t5chenr = ttest_rel(t5rel.mean(), chenrel.mean())
print('---------------REL-t-test---------------------------------------')
print(f'T5 vs. CHEN:\t t = {t5chenr.statistic:.2f}\t p = {t5chenr.pvalue:.3f}')
print(f'T5 vs. TGT:\t t = {t5tgtr.statistic:.2f}\t p = {t5tgtr.pvalue:.3f}')
print(f'TGT vs. CHEN:\t t = {tgtchenr.statistic:.2f}\t p = {tgtchenr.pvalue:.3f}')
print('----------------------------------------------------------------')

---------------NAT-means----------------------------------------
T5 nat:		 mean = 3.96	 std = 0.64	 alpha = 0.90
CHEN nat:	 mean = 2.96	 std = 1.42	 alpha = 0.88
TGT nat:	 mean = 3.37	 std = 0.71	 alpha = 0.87
----------------------------------------------------------------
---------------REL-means----------------------------------------
T5 rel:		 mean = 3.74	 std = 1.01	 alpha = 0.80
CHEN rel:	 mean = 3.25	 std = 1.35	 alpha = 0.84
TGT rel:	 mean = 3.70	 std = 0.69	 alpha = 0.91
----------------------------------------------------------------
---------------NAT-t-test---------------------------------------
T5 vs. CHEN:	 t = 3.37	 p = 0.003
T5 vs. TGT:	 t = 2.92	 p = 0.008
TGT vs. CHEN:	 t = 1.17	 p = 0.256
----------------------------------------------------------------
---------------REL-t-test---------------------------------------
T5 vs. CHEN:	 t = 2.14	 p = 0.043
T5 vs. TGT:	 t = 0.20	 p = 0.843
TGT vs. CHEN:	 t = 1.61	 p = 0.122
----------------------------------------------------------------